*{
    font-family: 'Microsoft Yahei';
}
br{
    display: block;
    margin-top: 10px;
    content: "";
}
h5{
    font-size: 15px;
}
a>p{
    color: rgb(214, 214, 214);
}
footer{
    background-color: #1B1B1B;
    color: rgb(214, 214, 214);
    padding: 40px;
}
#nav-bar{
    position: fixed;
    z-index: 1;
    background-color: white;
}
#menu li a{
    text-decoration: none;
    color: black;
}
#menu li{
    float: right;
    font-size: 18px;
    list-style-type: none;
    text-align: center;
    padding: 0 5px;
    overflow: hidden;
}
#nav-space{
    margin-top: 120px;
}
.menu-bg{
    position: fixed;
    background-color: white;
    z-index: 2;
    height: 150px;
    width: 100%;
}
.navbar-brand > img{
     height:90px;
}
.navbar-right{
    margin-top:36px;
    margin-bottom: 20px;
    font-size:1.8rem;
}
.navbar-toggle{
     padding:20px;
    margin-top:30px;
}
.pd{
    padding-bottom:3%;
}
.blackbg{
    background-color: #2B2B2B;
    color: #FFFFFF;
    width: 100%;
    position: relative;
}
div .carousel-caption{
    bottom: 35%;
}
.img-Vcenter {
	height: 434px;
	display: flex;
	align-items: center;
}
.img-Vcenter>div{
    margin-bottom: 0%;
}
.featurette-heading{
	font-size: 40px;
}
.font-normal{
	font: normal normal normal 16px/1.4em,sans-serif ;
	color:#000000;
}
.shop-enter{
	width: 123px;
	height: 123px;
	margin:20px;
}
.hz{
    position: relative;
}
.hz>div{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width:900px;
    margin-left:calc((100% - 900px) * 0.5);
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
}
.hz>div>h1{
    flex: 1 100%;
    padding-bottom: 10px;
}
.hz>div>div{
    background-color: white;
    flex:1;
    margin: 10px;
    padding:10px;
}
.hzpt>div>div>a>img{
    height:44px;
}
.hzpt>div>div>a>img:hover,.enter>div>a>img:hover{
    opacity: .5;
}
.form-control{
    width:60%!important;
}
.shadow>div>div{
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.1);
}
.button-center{
    display: flex;
    justify-content: center;
}
.button{
    position: relative;
    justify-content: center;
    margin-bottom: 25px;
    padding:13px 60px;
    border-radius: 100px;
    background-color:rgba(144,126,105,1);
    color:white;
    letter-spacing:1px;
    border:0px;
    transition-duration: .5s;
}
.button:hover{
    transition-duration: .5s;
    background-color: white;
    color:black;
}
.button:focus{
    outline: none;
}
.archor{
    display: block;
    height: 88px;
    margin-top: -88px;
    visibility: hidden;
}
.carousel-caption{
    text-align: left;
}
.carousel-caption>div>h1{
    font-size:3vw;
}
.carousel-caption>div>h2{
    font-size:2vw;
}
.carousel-caption>div:first-child{
    position: absolute; border-right: 8px solid white; display: block; height:70%; left:0%; top: 20%;
}
.carousel-caption>div:last-child{
    margin-left: 30px;
}
.nav-container{
    background-color: rgba(255,255,255,0.9);
    border: 0px; 
    margin-left:calc((100% - 76%) * 0.5);
    margin-right:calc((100% - 76%) * 0.5);
    top: 30px;
}
.active{
    color:#A08E69!important;
}

.strokeleft{
	position: absolute;
	border-right: 10px solid rgb(66,66,66);
	display: block; 
	height:70px;
	left:-1%;
	top: 10px;
}
.strokeright{
	position: absolute;
	border-right: 10px solid rgb(66,66,66);
	display: block; 
	height:70px;
	right:-1%;
	top: 10px;
}
.titleleft{
	margin-top:20px;
	margin-left:10px;
}
.titleright{
	direction:rtl;
	margin-right:10px;
}

.footer-position{
     margin-left: 12%;
}

@media only screen and (max-width: 1250px){
    .nav-container{
        margin-left:calc((100% - 96%) * 0.5);
        margin-right:calc((100% - 96%) * 0.5);
    }
}
@media only screen and (max-width: 992px){
    .nav-container{
        margin-left:0;
        margin-right:0;
    }
    .hz>div{
    width:80%;
    margin-left:calc((100% - 80%) * 0.5);
    }
    .strokeleft{
        top: -10px;
    }
    .strokeright{
        top: -10px;
    }
    /**navbar-collapse*/
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-right:0px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .navbar-collapse {
        margin-top: 20px;
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-nav>li {
        float: none;
        text-align: center;
    }
    .navbar-nav>li:hover {
        background-color: rgba(0,0,0,0.1);
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}
@media only screen and (max-width: 768px){
    .img-Vcenter{
        height:50vw;
    }
}